:root {
    scroll-behavior: smooth;

    --black: #1d1d1e;
    --dark_red: #620a1a;
    --red: #a31e21;
    --gold: #c6953f;
    --grey: #c2b8b2;
    --cream: #e9e3d6;
    --white: #f9f7f5;

    --black-rgb: 29, 29, 30;
    --dark_red-rgb: 98, 10, 26;
    --red-rgb: 163, 30, 33;
    --gold-rgb: 198, 149, 63;
    --grey-rgb: 194, 184, 178;
    --cream-rgb: 233, 227, 214;
    --white-rgb: 249, 247, 245;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "nova mono", monospace;

    background-color: var(--white);
    color: var(--black);
}

